.panel-oponent {
  background-image: url(../../assets/background-green.png);
  background-size: cover;
  height: 100vh;
}
.main-oponent {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80vw;
  font-size: 20pt;
  font-weight: 700;
  color: white;
}
.zagr {
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
