
.info {
  margin-top: 15px;

  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: white;
}
.board-game{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.score {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  font-size: 48px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.tic, .tac {
  width: 25px;
  height: 25px;
}

.sides {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  opacity: 0.7;
  border-radius: 8px;
}

.active {
  border-radius: 10px;
  opacity: 1;
  background: rgb(232, 232, 232);
}
